body {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-back{
    position: relative;
    background: url(img/main.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
            background-size: cover;
}
.bg-back:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
  }

.inner{
  position: relative;
  z-index: 3;
  color: #fff;
}
  
table {
    border:5px solid white;
    width:50%;
    height:50%;
}

td {
    border:1px solid white;
}

img {
    margin-right:20px ;
    width:400px;
    border-radius: 10%;
}

.flex-box{
    padding-top: 100px;
    padding-left:300px;
    width:1024px;
    height: 450px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.flex-namesurname{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.Firstname{
    margin-left:50px;
    font-size:40px;
    font-family: monospace;
}

.LastName{
    margin-left:50px;
    font-size:40px;
    font-family: monospace;
}

.text-information{
    margin-top:150px;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    line-height: 40px;
}

li{
    padding-top: 10px;
    font-size: 25px;
}

span{
    font-size: 25px;
}

ul{
    padding-right: 120px;
}

.lang{
    font-size: 25px;
}

.Firstname:hover{
    color: rgba(224, 59, 17, 0.692);
    cursor:pointer;
}

.LastName:hover{
    color: rgba(224, 59, 17, 0.692);
    cursor:pointer;
}

li:hover{
    color:rgba(117, 43, 117, 0.836);
    cursor:pointer;
}

.lang:hover{
    color:rgba(117, 43, 117, 0.836);
    cursor:pointer; 
}

@media (max-width: 1400px){
    img{
        margin-right:200px ;
        width:300px;
    }

    .Firstname{
        font-size: 30px;
        margin-left: 50px;
        padding-top: 10px;
    }

    .LastName{
        font-size: 30px;
        margin-left: 50px;
    }

    .text-information{
        margin-left: 100px;
    }

    table {
        width:40%;
        height:50%;
    }

    .skillbox{
        margin-right: 100px;
    }

    .Educationbox{
        font-size: 10px;
        margin-left: 100px;
    }
    .Englishbox{
        margin-right: 150px;
    }
}

@media (max-width:1200px){
    .flex-box{
        width:1000px;
        flex-direction: column;
        padding-left: 80px;
        height: 1100px;
    }

    img{
        margin-top: 120px;
        width: 350px;
        margin-left:250px;
    }

    .text-information{
        font-size: 20px;
    }

    .Firstname{
        font-size: 25px;
        padding-top: 10px;
    }

    .LastName{
        font-size: 25px;
    }

    table{
        margin-left:60px;
    }

    .skillbox{
        margin-left: 250px;
        margin-top:100px;
    }

    .Experiencebox{
        margin-left: 220px;
    }

    .Educationbox{
        margin-left: 455px;
    }
    .Englishbox{
        margin-left: 150px;
    }

}

@media (max-width:1024px){

    img{
        width: 800px;
    } 

    .flex-box{
        width:800px;
    }

    .text-information{
        margin-right:100px;
        padding-top: 100px;
    }

    .Educationbox{
        margin-left:355px;
    }

    .Firstname{
        font-size: 65px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .LastName{
        font-size: 65px;
    }

    table{
        margin-top:150px;
        width:80%;
        font-size: 40px;
    }


    span{
        font-size:70px;
    }

    li{
        font-size: 50px;
    }

    
    .Experiencebox{
        margin-left: 290px;
    }

    .Educationbox{
        margin-top:100px;
        margin-left: 320px;
    }

    .Englishbox{
        margin-left: 200px;
        margin-top:100px;
    } 

    .skillbox{
        margin-top:300px;
    }

    .newsection{
        margin-top:200px;
    }

    .lang{
        font-size:50px;
    }
}